header.header
    .header__container
        .header__block
        button.header__button.button(type="button") Войти
            svg.button__icon
                use(xlink:href="./assets/images/ic/small/user.svg")