.main__left-col{
    width: 100%;
    max-width: 440px;
    margin-right: 92px;
}
.main__title{
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0.09em;
    line-height: 48px;
    margin-bottom: 24px;
}
.main__item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 19px;

    &:before{
        content: "";
        display: block;
        width: 20px;
        height: 14px;
        margin-top: 3px;
        margin-right: 15px;
        flex: 0 0 auto;
        background:url(../images/ic/check.png) no-repeat ;
    }
    &:last-child{
        margin-bottom: 50px;
    }
}
.form__row{
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    &:last-child{
        margin-bottom: 0;
    }
    &:nth-child(3){
        margin-bottom:24px; 
    }
    &:nth-child(4){
        margin-bottom:32px; 
    }
}
.form__input{
    display: block;
    cursor: pointer;
    height: 63px;
    flex: 1;
    border: 1px solid $input_border;
    border-radius: 4px;
    background-color: $input_bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
    font-size: 12px;
    &:hover{
        border-color: $input_border-hover;
    }
}
.form__input-area{
    padding-top: 7px;
    background: transparent;
    cursor: pointer;
    border: none;
    color: $text-color;
    &::placeholder{
        color: #FFFFFF;
        font-size: 16px;
    }
    &[type="password"]{
        &::placeholder{
            color: $text-color;
            padding-top: 0;
            font-size: 16px;
        }
}
}
.form__currency{
    flex: 1;
    display: flex;
	justify-content: space-between;
}
.form__text{
    font-size:12px;
    width: 120px;
    user-select: none;
}
.form__radio {
    display: flex;
}
.form__radio-fake{
    position: relative;
    width: 100px;
    height: 30px;
    display: block;
    cursor:pointer;
}
.form__radio-btn{
    display:none;
    &+.form__radio-fake:before{
        content:"";
        display: block;
        width: 100px;
        height:30px;
        background-color: $input_bg;
        border: 1px solid transparent;
        position: absolute; 
        line-height:30px;
        text-align: center;  
    }
    &_rub{
        &+.form__radio-fake:before{
            content: "P";
        }
    }
    &_dol{
        &+.form__radio-fake:before{
            content: "S";
        }
    }
    &_eur{
        &+.form__radio-fake:before{
            content: "E";
        }
    }
    &_rub+.form__radio-fake:after{
            content: "";
            display: block;
            width: 99px;
            height: 25px;
            border-right: 1px solid $background;
            position: absolute;
            top: 15%;   
    }
    &_dol+.form__radio-fake:after{
            content: "";
            display: block;
            width: 99px;
            height: 25px;
            border-right: 1px solid $background;
            position: absolute;
            top: 15%;   
    }
}
.form__radio-btn_rub{
    &+.form__radio-fake:before{
        border-radius: 3px 0px 0px 3px
    }
}
.form__radio-btn_eur{
    &+.form__radio-fake:before{
        border-radius: 0px 3px 3px 0px
    }
}
.form__radio-btn:checked{
    &+.form__radio-fake:before{
        z-index: 1;
        background-color: transparent;
    }
}
.form__radio-btn_rub:checked{
    &+.form__radio-fake:before{
        border: 1px solid $btn;
        border-radius: 3px 0px 0px 3px
    }
    &+.form__radio-fake:after{
        border-right: 2px solid transparent; 
    }
}
.form__radio-btn_dol:checked{
    &+.form__radio-fake:before{
        border: 1px solid $btn;
    }
    &+.form__radio-fake:after{
        border-right: 2px solid transparent; 
    }
}
.form__radio-btn_eur:checked{
    &+.form__radio-fake:before{
        border: 1px solid $btn;
        border-radius: 0px 3px 3px 0px
    }
}
.input__confirm{
    position: relative;
    padding-left: 46px;
    cursor:pointer;
    font-size:12px;
    user-select: none;
    letter-spacing: 0.05em;
}
.input__check{
    display: none;
    & + label:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        background-color: $input_bg;
    }
    &:checked + label:after {
        content: "";
        display: block;
        position: absolute;
        left: 3px;
        top: 4px;
        width: 20px;
        height: 10px;
        border-radius: 1px;
        border-left: 4px solid $btn;
        border-bottom: 4px solid $btn;
        transform: rotate(-50deg);
    }
}
.form__btn{
    width: 100%;
    height: 56px;
    background-color: $btn;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 24px;
    cursor:pointer;
    outline: none;
}